* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,
    Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    text-decoration: none;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;     
}


.navigation_bg {
    
    background-color: white;
    position: fixed;
	left:0;
	top:0;
    right:0;
    z-index: 99;
    height: 53px;
}

#navigation {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    


}

#table_container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:55px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#zhihu_nav{
   display: inline;
 

}

#top_logo{
    float: left;
    

}

#top_nav_ul{
 
   
    float: left;
    margin-top: 15px;
   
    

}

.top_nav_li{
    display: inline;

}

#top_form{float: left;
   

}

#user_info{
    display: inline;
    float: right;
    


}



#top_form input[type="text"]{
    display: inline-block;
    width: 320px;
    height: 30px;
    border:1px solid black;
    border-radius: 5px;
    background-color: rgb(243, 243, 253);
    float: left;
    margin-top: 10px;
    border: 1px solid #e7eaf1;
}



#top_button{
    margin-left: 18px;
    display: block;
    float: left;
    margin-top: 10px;
   

}

.info{
    display: inline-block;
    margin-left: 15px;
    
}

.top_nav_li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  

}
.t_n_l {
    color: #999;;
    font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,
    Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,
    sans-serif;
    font-size: 15px;

}

#first{
    color: #262626;
    font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,
    Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,
    sans-serif;
    font-size: 15px;

}

.t_n_l:hover{
    color: #175199;
}

#tablecontainer{

    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sections {

    width: 100%;
    margin-top: 10px;
   
}

.article_main {
    display: flex;
    flex-direction: column;
}

#sidebar {
    float: right;
}

#sec_nav {
    height: 18px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
  

}

.sec_nav_ul {
    float: left;

}

.sec_nav_rightiteam {
    margin-top: 3px;
    float: right;
    padding-right: 20px;

}

.topstoryheader_rightiteam {
    color: #8590a6;

}

.topstoryheader_rightiteam:hover {
    color: #175199;
}

.sec_nav_li {
    display: inline-block;
    margin-right: 20px;
    
}

.sec_nav_lin {
    color: #262626;

}

.sec_nav_lin:hover {
    color: #175199;
}


.sec_nav_pic {
    margin-right: 10px;
}

.article {
   
    background-color: white;
    margin-bottom: 10px;

}

.article_header {
    margin-top: 10px;

}

.topic {
    position: relative;
    top: 10px;
    left:20px;
    margin-bottom: 15px;
    color:#8590a6;
    
}

.writer_info {
    position: relative;
    left: 20px;
    margin-bottom: 15px;
    
}

.writer_pic {
    position: relative;
    top: 8px;
    display: inline-block;

}

.writer_name {
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    margin-left: 3px;


}

.writer_link {
    color: #262626
}

.writer_resume {
    display: inline-block;
    color: #262626;
    font-size: 14px;
    

}

.article_title {
    position: relative;
    left: 20px;
    margin-bottom: 10px;
   
}

.article_link {
    color:#262626; 
    font-size: 18px;
}

.article_link:hover {
    color: #175199;
}

.article_contant {

    margin-left: 20px;
    font-size: 15px;
    color: #262626;
    line-height: 1.67;
}

.article_open {
    color: inherit;
}
.article_open:hover {

    color: #6f6f6f;
}

.article_open_button {
    color: #175199;
    border: none;
    background-color: #ffffff;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
}

.article_open_button:hover {
    color: #7a8599;
}

.article_open_button:focus {
    outline: none;
}

.content_iteam_actions {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.article_attitude {
    margin-left: 20px;
}

.article_attitude_button {
    margin-right: 10px;
    border: none;
    background-color: white;
    
}

.article_fooder {
    display: flex;
    align-items: center;

}

.article_fooder_ul {
    display: flex;
}
.article_fooder_li {
    list-style-type: none;
    margin-left: 24px;
    font-size: 14px;
}

.article_fooder_li_button {
    border: none;
    display: flex;
    background-color: #ffffff;
    align-items: center;
}

.article_fooder_iteam_name {
    font-size: 14px;
    margin-left: 4px;
    color: #8590a6;
}

.article_fooder_iteam_name:hover {
    color: #7a8599;

}

.sidebar {
    display: flex;
    flex-direction: column;
 
    margin-left: 10px;
}

.sidebar_catlog {

    padding-top: 20px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar_catlog_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar_catlog_li {
    list-style-type: none;
    width: 33%;
    margin-bottom: 25px;
  
}

.sidebar_catlog_buttom {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_catlog_pic {
    margin-bottom: 5px;
}

.sidebar_catlog_name {

    font-size: 15px;
    color: #8590a6;
}

#yellow:hover {
    color: #ffcf00;

}

#green:hover {
    color: #43d480;

}

#blue:hover {
    color: #0084ff;

}

#blue_2:hover {
    color: #0f88eb;

}

#blue_3:hover {
    color: #8590a6;

}

.advertisement {
    margin-bottom: 10px;
}

.sidebar_reacted {
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
}

.sidebar_reacted_ul {
    list-style-type: none;

}

.sidebar_reacted_li {
    display: flex;
  

}

.sidebar_reacted_link_bg {
    padding: 0 15px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
   

}

.sidebar_reacted_link_bg:hover {
    background-color: #f4f8fb;
    
    

}

.sidebar_reacted_link {
 
   align-items: center;   

}

.reacted_li_pic {
    position: relative;
    
}

.react_li_name {
    margin: 0 10px;
    font-size: 14px;
    color: #8590a6;
}

.footer {
    font-size: 13px;
    line-height: 2;
    color: #8590a6;

}

.footer_iteam {

display: inline-block;
color: inherit;
}

.footer_iteam:hover {
    color: #175199;
}

.footer_dot::after {
    margin: 0 5px;
    content: "\B7";
}



