@charset "UTF-8";
body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC, Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 15px;
  background-color: #f3f3f3; }
  body .navigation_bg {
    background-color: #ffffff; }
    body .navigation_bg .navigation .zhihu_nav .top_nav_ul {
      color: #1e1e1e; }
      body .navigation_bg .navigation .zhihu_nav .top_nav_ul .top_nav_li .first {
        font-size: 16px;
        color: #1e1e1e;
        text-decoration: none; }
      body .navigation_bg .navigation .zhihu_nav .top_nav_ul .top_nav_li .top_nav_li_link {
        font-size: 15px;
        color: #8590a6;
        text-decoration: none; }
        body .navigation_bg .navigation .zhihu_nav .top_nav_ul .top_nav_li .top_nav_li_link:hover {
          color: #175199; }
    body .navigation_bg .navigation .zhihu_nav .top_form input[type="text"] {
      border-radius: 3px;
      border: 1px solid #e7eaf1; }
  body .table_container .sections .sec_nav {
    background-color: #ffffff;
    height: 58px; }
    body .table_container .sections .sec_nav .sec_nav_ul .sec_nav_li .sec_nav_link {
      text-decoration: none;
      color: #262626;
      font-size: 16px; }
      body .table_container .sections .sec_nav .sec_nav_ul .sec_nav_li .sec_nav_link:hover {
        color: #175199; }
    body .table_container .sections .sec_nav .sec_nav_rightiteam .topstoryheader_rightiteam {
      color: #8590a6;
      text-decoration: none; }
      body .table_container .sections .sec_nav .sec_nav_rightiteam .topstoryheader_rightiteam:hover {
        color: #175199; }
  body .table_container .sections .article_main .article {
    background-color: #ffffff; }
    body .table_container .sections .article_main .article .article_header .topic {
      color: #8590a6; }
    body .table_container .sections .article_main .article .article_header .writer_info {
      color: #262626; }
      body .table_container .sections .article_main .article .article_header .writer_info .writer_name .writer_link {
        color: #262626;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px；; }
      body .table_container .sections .article_main .article .article_header .writer_info .writer_resume {
        font-size: 14px; }
    body .table_container .sections .article_main .article .article_title .article_link {
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      color: #1e1e1e; }
    body .table_container .sections .article_main .article .article_contant .article_open {
      text-decoration: none; }
      body .table_container .sections .article_main .article .article_contant .article_open .article_preview {
        color: black;
        line-height: 1.6; }
        body .table_container .sections .article_main .article .article_contant .article_open .article_preview:hover {
          color: #6f6f6f; }
    body .table_container .sections .article_main .article .article_contant .article_open_button {
      border: none;
      color: #175199;
      background-color: #fff; }
    body .table_container .sections .article_main .article .content_iteam_actions .article_attitude .article_attitude_button {
      border: none;
      background-color: #fff; }
    body .table_container .sections .article_main .article .content_iteam_actions .article_fooder .article_fooder_ul .article_fooder_li {
      list-style-type: none; }
      body .table_container .sections .article_main .article .content_iteam_actions .article_fooder .article_fooder_ul .article_fooder_li .article_fooder_li_button {
        border: none;
        background-color: #fff;
        color: #8590a6;
        font-size: 14px; }
        body .table_container .sections .article_main .article .content_iteam_actions .article_fooder .article_fooder_ul .article_fooder_li .article_fooder_li_button:hover {
          color: #555; }
  body .table_container .sidebar .sidebar_catlog {
    background-color: #ffffff; }
    body .table_container .sidebar .sidebar_catlog .sidebar_catlog_ul .sidebar_catlog_li {
      list-style-type: none; }
      body .table_container .sidebar .sidebar_catlog .sidebar_catlog_ul .sidebar_catlog_li .sidebar_catlog_buttom {
        text-decoration: none;
        color: #8590a6; }
        body .table_container .sidebar .sidebar_catlog .sidebar_catlog_ul .sidebar_catlog_li .sidebar_catlog_buttom .yellow:hover {
          color: #ffcf00; }
        body .table_container .sidebar .sidebar_catlog .sidebar_catlog_ul .sidebar_catlog_li .sidebar_catlog_buttom .green:hover {
          color: #43d480; }
        body .table_container .sidebar .sidebar_catlog .sidebar_catlog_ul .sidebar_catlog_li .sidebar_catlog_buttom .blue:hover {
          color: #0084ff; }
        body .table_container .sidebar .sidebar_catlog .sidebar_catlog_ul .sidebar_catlog_li .sidebar_catlog_buttom .blue2:hover {
          color: #0f88eb; }
        body .table_container .sidebar .sidebar_catlog .sidebar_catlog_ul .sidebar_catlog_li .sidebar_catlog_buttom .blue3:hover {
          color: #8590a6; }
  body .table_container .sidebar .sidebar_self {
    background-color: #ffffff;
    padding: 10px 0; }
    body .table_container .sidebar .sidebar_self .sidebar_self_ul .sidebar_self_link {
      text-decoration: none;
      color: #8590a6; }
      body .table_container .sidebar .sidebar_self .sidebar_self_ul .sidebar_self_link .sidebar_self_link_bg {
        display: flex;
        align-items: center; }
        body .table_container .sidebar .sidebar_self .sidebar_self_ul .sidebar_self_link .sidebar_self_link_bg:hover {
          background-color: #f4f8fb; }
  body .table_container .sidebar .footer {
    color: #8590a6;
    font-size: 13px;
    line-height: 2; }
    body .table_container .sidebar .footer .footer_iteam {
      color: #8590a6;
      text-decoration: none;
      font-size: 13px; }
      body .table_container .sidebar .footer .footer_iteam:hover {
        color: #175199; }
    body .table_container .sidebar .footer .footer_dot:after {
      margin: 0 5px;
      content: "\B7"; }
